body {
  padding: 0;
  margin: 0;
}

.layer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.video-background {
  z-index: -99;
}

.clock {
  z-index: -50;
  color: white;
  text-align: center;
  filter: blur(2px) opacity(75%);
  font-family: serif;
  text-shadow: 0px 0px 25px white;
  background-color: black;
}

.clock:hover {
  filter: blur(10px) opacity(50%);
}

.clock .time {
  font-size: 37vw;
}

.clock .date {
  font-size: 6vw;
}

#pomodoro {
  z-index: -70;
  filter: blur(2px);
}
